<div class="container">
  <h1> Stupid Coaching<h1>
  <div>
    <p> <%= @question %>  </p>
  </div>
  <div class="alert alert-warning">
    <p> <%= @answer %> </p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
